body {
  background-color: lightblue;
}

h1 {
  text-color: White; text-align: center;
}

h2 {
  text-color: White;
}

h3{
  text-color: White;
}

img[src="http://www.freeimageslive.com/galleries/sports/sportsgames/pics/airmaxshoe.jpg"] {
  width:100px;
  height:50px;
}

img[src="http://www.freeimageslive.com/galleries/food/fruitveg/pics/slived_kiwifruit.jpg"] {
  width:100px;
  height:100px;
}
