p
{
  color: #0000ff;
}
  
h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  
}
body {
  background-image: url('http://www.freeimageslive.com/galleries/space/nebula/pics/hst_orion_nebula.jpg');
}
