body {
  background-color: lightblue;
}

h1 {
  text-color: White;
}

h2 {
  text-color: White;
}

h3{
  text-color: White;
}

img[src="jpg"] {
  width:...;
  height:...;
}

img[src="jpg"] {
  width:...;
  height:...;
}
